/* Empty. Add your own CSS if you like */
.overlay  
{
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: alpha(opacity=80); 
    opacity: 0.8; 
}
.overlayContent
{
    z-index: 99;
    margin: 50% auto;
    width: 60%;
    padding: 5%; 
    background-color: #FFFFFF;
    border:1px solid #000;
    opacity: 1; 
}

.CajaInicio {
  width:750px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}
/*ionic radio buttons override*/
.items {
    padding: 0 !important;
    margin-bottom: 0 !important;
    background-color: #2e2e2e;
    color: #ededed;
}

.items-content {
        background-color: #2e2e2e !important;
        color: #ededed;
}  

/* override radio button display with custom icon for both states */
.items-radio input ~ .radio-icon {
    visibility: visible !important;

}

.items-radio > .radio-icon:before {
    content: "\f3a6" !important; /*deselected - Ionic class = ion-android-radio-button-off */
}

.items-radio > input[type=radio]:checked ~ .radio-icon:before {
    content: "\f3a7" !important; /*selected Ionic class = ion-android-radio-button-on */
}

.estilopa{
    padding: 0 0 0 0 ;
    margin-bottom: 0 ;
    background-color: black;
    color: black;
    border-style: groove;
}
