<ion-view view-title="Perfil" hide-back-button="true">

  <form name="accountForm">
  
  <!-- main content -->
  <ion-content>
    
    <div class=" text-center ui-gradient-deepblue padding">
     <!--   <img class="avatar-account" ng-init="foto = 'img/fotoPerfil.png'" >-->
    </div>

    <label class="item item-input">
      <span style="font-size: 16px;color: red;" class="input-label">Email</span>
      <input style="font-size: 16px;color: blue;" type="text" ng-model="usuario.correo"  readonly >
    </label>
    <label class="item item-input">
      <span style="font-size: 16px;color: red;" class="input-label">Nombre</span>
      <input  style="font-size: 16px;color: blue;" type="text" ng-model="usuario.nombre" readonly>
    </label>
    <label class="item item-input">
      <span style="font-size: 16px;color: red;" class="input-label">Tipo de Usuario</span>
      <input  style="font-size: 16px;color: blue;" type="text" ng-model="usuario.perfil"  readonly >
    </label>





<div class="CajaInicio  animated  slideInUp" ng-if="usuario.perfil=='admin'">
              <center>
              <h1  style="color:yellow;">Listado de Usuarios</h1>
              <!-- id="listaPersonas" -->
                </center>
                <table style="color:red;" class='table table-hover table-responsive ' id="listaPersonas">
                  <thead>
                    <tr>
                      <th>  Usuario   </th>       
                      <th>  Correo     </th>
                      <th>  Tipo     </th>
                    </tr> 
                  </thead>
                  
                  <tr ng-repeat="usuario in grilla" style="color:blue;">
                  
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>{{usuario.perfil}}</td>
                    
                               
                  </tr>
                    
                </table>
              </div>












  </ion-content>

  
  </form>

</ion-view>
